<h2 mat-dialog-title>Punishment!</h2>

<mat-dialog-content>

  <div *ngIf="noMoreFlag===false">
  <h1>{{punishmentGiven}}</h1>
  <button class="fire" (click)="randomizePunishment()"> {{counter}} punishment remaining...</button>
  </div>

  <div *ngIf="noMoreFlag">
    No punishments to give
  </div>

  <div *ngFor="let pun of listOfPunishmentsGiven">
    <mat-card>{{pun}}</mat-card>
  </div>
</mat-dialog-content>



<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
