<h2 style="font-size: 4vw; margin: 50px" mat-dialog-title>Punishment!</h2>

<mat-dialog-content>

  <div *ngIf="noMoreFlag===false">
  <mat-card-title style="font-size: 3vw">{{punishmentGiven}}</mat-card-title>
  <button mat-stroked-button class="fire" (click)="randomizePunishment()"> {{counter}} punishment remaining...</button>
  </div>

  <div *ngIf="noMoreFlag" style="font-size: 2.4vw">
    No punishments to give
  </div>

  <div *ngFor="let pun of listOfPunishmentsGiven" style="font-size: 1vw">
    <mat-card>{{pun}}</mat-card>
  </div>
</mat-dialog-content>



<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>



<button (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  {{isOpen ? "Close" : "Open"}}
</button>


<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
>

  <img src="https://static01.nyt.com/images/2020/04/07/opinion/07Balls1/07Balls1-mediumSquareAt3X-v2.jpg" alt="Girl in a jacket" style="width:400px;height:auto">
</ng-template>

