<mat-progress-bar mode="buffer"></mat-progress-bar>

<!--<button mat-stroked-button color="accent" style="padding: 80px; margin: 20px; font-size: 50px;" (click)='startTimer()'>Start Timer</button>-->
<!--<button mat-stroked-button color="accent" style="padding: 80px; margin: 20px; font-size: 50px;"  (click)='pauseTimer()'>Pause</button>-->
<div>  <button (click)="resetTimer()" mat-stroked-button> Reset</button></div>
<div class="containerClass">
  <button (click)='toggleTimer()' class="buttonClass" color="accent" mat-stroked-button>{{timeMinutes}}
    :{{timeSeconds}}</button>
  <!--    <span style="font-size: 100px">{{timeMinutes}}:{{timeSeconds}}</span>-->
</div>
<div class="containerClass">
 <div style="margin-top: 50px; font-size: 2vw;">{{parentMessage.name}}</div>
</div>

<!--<p (click)="oberserableTimer()">Start Observable timer</p> {{subscribeTimer}}-->
