<div class="col-md-12">
    <h1 class = "central"> Tasks </h1>
</div>

<div class="central">
    Create New Task
</div>

<form [formGroup]="newTaskForm" (ngSubmit)="saveTask(newTaskForm.value)">

    <span class="card-container">

    <div class="spread">
        <mat-form-field class = "example-full-width">
        <mat-label for ="taskName" class="mat-typography">Task Name:</mat-label>
        <div>
            <input matInput formControlName="name" id="taskName" type="text" class="form-control" placeholder="task name...">
        </div>
        </mat-form-field>
    </div>
    <span class = "spread">
        <label for ="taskEndTime">Start time:</label>
        <ngx-timepicker-field [format]="24" formControlName="startTime" id="taskStartTime" type="text" class="form-control"></ngx-timepicker-field> 
    </span>
    <div class = "spread"> 
        <label for ="taskEndTime">End time:</label>
        <ngx-timepicker-field [format]="24" formControlName="endTime" id="taskEndTime" type="text" class="form-control"></ngx-timepicker-field>
    </div> 
        <button class="btn btn-primary" [disabled]="newTaskForm.invalid" mat-button type="submit">Save</button> 
    </span>
             
</form>

<div *ngIf="tasks.length > 0">
    <h2 class="central"> Current tasks </h2>
    <div class = "row">
        <div *ngFor="let task of tasks; let i = index" (click)="tasks.splice(i,1)">
            <span class="card-containers">
                <span class="glyphicon glyphicon-asterisk"></span>
                <h3>{{task.name}} {{task.startTime}} - {{task.endTime}}</h3>
            </span>
        </div>
    </div>
</div>
