<div class="col-md-12">
    <h1> Create task </h1>
</div>

<mat-card class="example-class">
    <mat-card-header>
        <mat-card-title> Create task </mat-card-title>
    </mat-card-header>
    
        <form [formGroup]="newTaskForm" (ngSubmit)="saveTask(newTaskForm.value)">
            <mat-card-content>
                <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty}">
                    <label for ="taskName">Task Name:</label>
                    <input formControlName="name" id="taskName" type="text" class="form-control" placeholder="task name..." />
                </div>

                <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty}">
                    <label for ="taskStartTime">Start time:</label>
                    <input formControlName="startTime" id="taskStartTime" type="text" class="form-control" placeholder="start time..." />
                </div>

                <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty}">
                    <label for ="taskEndTime">End time:</label>
                    <input formControlName="endTime" id="taskEndTime" type="text" class="form-control" placeholder="end time..." />
                </div>

                <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty}">
                    <label for ="taskInformation">Other information:</label>
                    <input formControlName="information" id="taskInformation" type="text" class="form-control" placeholder="information..." />
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button type="submit">Save</button>
            </mat-card-actions>
        </form>
    
</mat-card>

