
<app-timer></app-timer>
<div class="containerClass">
  <button (click)="add()" class="button buttonCircle mat-elevation-z4"
          matRipple [matRippleColor]="'lightgrey'">{{counter}}</button>
</div>


<div *ngFor="let task of tasks">
  <mat-card style="font-size: 2vw; margin: 10px">
    <span> {{task.name}}</span>
    <span> | </span>
    <span> {{task.duration}} hr</span>
    <span style="float: right">{{task.timeToDo}}</span>
  </mat-card>
</div>



<button (click)="openDialog()">punish,ent</button>
